@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
  .section_first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2.jpg);
    padding: 112px 0;
  }
  .section_h_first {
    margin-bottom: 36px;
    padding: 0 0px;
    line-height: 1.07;
    font-size: 56px;
  }
}
