@media (min-width: 1158px) {
  .container {
    width: 1440px;
    padding: 0 16px;
  }
  .section_first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-comp@2.jpg);
    padding: 188px 0;
  }
  .section_h_first {
    margin-bottom: 48px;
    padding: 0 0px;
    line-height: 1.07;
    font-size: 56px;
  }
}
