@media (min-width: 1158px) {
  .container {
    width: 1440px;
    padding: 0 16px;
  }
  .section_first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-comp@2.jpg);
    padding: 188px 0;
  }
  .section_h_first {
    margin-bottom: 48px;
    padding: 0 0px;
    line-height: 1.07;
    font-size: 56px;
  }

  .section_fourth_li {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border: 1px solid rgba(244, 244, 253, 1);
  }
}
