@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0 16px;
  }
  .section_first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-phone@2.jpg);
    padding: 72px 0;
  }
  .section_h_first {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 40px;
    padding: 0px 60px;
  }

  .second_section {
    padding: 96px 0;
  }

  .second_section_list {
    display: grid;
    grid-template-columns: (repeat(1, 288px));
    width: 288px;
    gap: 0;
  }

  .second_section_li {
    width: auto;
    margin-bottom: 72px;
  }
  .section_two_icon {
    display: none;
    margin: 0;
  }

  .section_second_title {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    margin-top: 0;
  }

  .paragr_section_two {
    font-size: 16px;
  }

  .second_section_li:last-child {
    margin-bottom: 0;
  }

  /* section_third */
  .section_third {
    padding: 96px 0;
  }

  .section_third_li {
    width: 100%;
    margin: auto 12px;
    justify-content: center;
  }

  .section_third_li .img {
    width: auto;
    height: auto;
  }

  .section_third_list {
    display: grid;
    grid-template-columns: repeat(1, 264px);
    margin: auto;
  }

  .fourth_pic {
    width: 360px;
    height: 300px;
  }

  /* section fourth */
  .section_fourth {
    padding: 96px 0;
  }

  .section_fourth_list {
    width: 288px;
    display: grid;
    grid-template-columns: repeat(1, 288px);
    margin: auto;
  }

  .section_four_img_div {
    width: 288px;
    height: 280px;
  }

  .section_four_img_div img {
    width: 100%;
  }
  .section_fourth_div {
    width: 288px;
    padding: 32px 0px;
    border: none;
  }
}
